#form{
    display: table;
    width: 70%;
    margin: auto auto;
    margin-top:  10px;
    background-color: #346f9d;
}
.row{
    display: table-row;
    vertical-align: top;
}
.cell{
    display: table-cell;
    vertical-align: top;
    padding-top: 10px;
}
.label{
    text-align: right; 
    padding-top: 10px; 
    padding-right: 10px;
    color: white;
}
button {
	background-color: #00abd3;
    border: none;
    color: white;
    padding: 10px 22px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 12pt;
    border-radius: 10px 10px 10px 10px;
}