*{
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
}

#wrapper {
	width: 1024px;
	height: 900px;
	margin: auto auto;
	margin-top: 10px;
}

#list {
	width: 70%;
	margin: auto auto;
	background-color: #346f9d;
    color: #f2f2f2;
}

table {
	width: 100%;
	border-collapse: collapse;
}

tbody {
	background-color: #002b49;
}

h1 {
	text-align: center;
	margin-top: 5px;
}

th, td {
    padding: 3px;
    text-align: left;
}

th {
    background-color: #002b49;
    color: white;
}

tr:nth-child(even){
	background-color: #f2f2f2;
	color: #002b49;
}